

form {
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 30rrpx;
  background: #FAFAFA;
}

form textarea {
  resize: vertical;
}

form button {
  width: 100%;
  padding: 12px;
  background: #9370DB; 
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
}

form button:hover {
  background: #7A5DC7;
  transform: scale(1.02);
}
